<div style="text-align: center">
  <h1>Exemple de tests de components/services</h1>
  <h2>Les 2 carrés permettent de gérer les événements de la souris</h2>
  <h2>Ouvrez votre console pour voir le résultat</h2>
</div>

<div id="container">
  <div id="canvas-elements">
    <div id="bad">
      <h1>Exemple d'un component mal ecrit. Trop de logique</h1>
      <app-bad-mouse></app-bad-mouse>
    </div>

    <div id="good">
      <h1>
        Exemple d'un component bien ecrit. Logique dans le service seulement
      </h1>
      <app-mouse></app-mouse>
    </div>
  </div>
</div>